@charset "UTF-8";

@media (max-width:991px) {
    header img{
        width: 800px;
    }
}

@media (max-width:651px) {
    header img{
        width: 600px;
    }
}

@media (max-width:501px) {
    section .mindmap{
        width: 100%;
    }
}

@media (max-width:491px) {
    header img{
        width: 300px;
    }
}